<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InfoSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="InfoSoapBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="InfoSoapBinding12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://footballpool.dataaccess.eu/info.wso"
                binding="basicHttpBinding" bindingConfiguration="InfoSoapBinding"
                contract="FootballServiceReference.InfoSoapType" name="InfoSoap" />
            <endpoint address="https://footballpool.dataaccess.eu/info.wso"
                binding="customBinding" bindingConfiguration="InfoSoapBinding12"
                contract="FootballServiceReference.InfoSoapType" name="InfoSoap12" />
        </client>
    </system.serviceModel>
</configuration>